
.mt-5.text-center
  %p 忙しい毎日、私たちのスケジュール帳は週末も予定でびっちり埋まっている。
  %p 休みの日も急に予定が空いたりすると、「何かをしなくちゃ」と思ってしまう人も多いのではないだろうか？
  %br
  %p 普段の日もちょっとしたすき間時間には、ついスマホをいじってしまう。
  %p そうしてしまったが最後、今日やるべき「To Do List（やることリスト）」はどんどん長くなり、
  %p クルクルと回し車を走るハムスターのように、私たちは走り続けてしまう。。
  %br
  %p そんな生活をスローダウンさせて、「何もしない」時間を味わうこと
  %strong それが「Niksen（ニクセン）」
  %blockquote{ cite: 'https://ampmedia.jp/2020/02/14/niksen/' }
